<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Lookoom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/weather">Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/meals">Meals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/beer">Beer</a>
          </li>

        </ul>
        <% if (username) { %>
          <p class="nav-link" style="margin-right: 10px; margin-bottom: 0;"><%= username %></p>
          <form action="logout" method="POST">
            <button class="submit-btn" type="submit">Log Out</button>
          </form>
        <% } else  { %>
          <a href="/login" class="nav-link"><button class="submit-btn">Log In</button></a>
          
        <% }%>
        
      </div>
    </div>
  </nav>

  
  </div>
  <main>
    <div class="container">
      <div class="login-container">
        <h1 class="form-name">Sign Up</h1>
    
        <form action="register" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
          </div>
          <div class="form-group">
            <label for="username">Password</label>
            <input type="text" name="password" id="password">
          </div>
          <button type="submit" class="submit-btn">LogIn</button>
        </form>
        <p>Don't have an account? <a href="/login">Log In</a></p>
      </div>
      <% if (failure) { %> 
        <div class="error-msg auth-error">
          <p><%= errorMsg %></p>
        </div>
      <% } %>
    </div>
  </main>


  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>
