/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

header {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

header h1 {
  font-size: 2.5rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  object-fit: fill;
}

.card .beer-img {
  object-fit: contain;
  margin-top: 10px;
}


.instruction-div img {
  display: block;
  max-height: 400px;
  margin: auto;
}

.card-content {
  padding: 1.5rem;
}

.card-content h3 {
  margin-bottom: 1rem;
}

.btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #222222;
  color: white;
}

.description-container {
  display: flex;
  align-items: center; 
}

.description-container p {
  flex-grow: 1;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr;
  }
}

.navbar {
  color: black;
  border: 1px dashed rgb(149, 149, 149);
}

img {
  border-radius: 10px;
}


hr {
  height: 2px; 
  border: none;
  background: #000000;
  margin: 20px 0;
  border-radius: 5px;
}


h1{
  font-weight: 700;
}
.search-container {
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: auto;
}

input {
  font-size: 1rem;
  width:80%;
  padding: 8px;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.login-container {
  margin: 0 auto;
  width: 400px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
}

.login-container h1 {
  text-align: center;
}

.login-container p {
  margin-bottom: 0;
  margin-top: 10px;
}

.form-group input {
  width: 100%;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(28, 28, 28)
}

.fav-btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.nothing-paragraph {
  font-style: italic;
  text-align: center;
}

svg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}


#emptyHeart {
  stroke: rgb(255, 81, 81);

}

.faved {
  fill: rgb(255, 81, 81);
}


#rayGroup {
  display: none;
}

.error-msg {
  background-color: rgb(255, 153, 153);
  color: rgb(255, 0, 0);
  border-radius: 20px;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.error-msg p {
  margin: 0;
}

.auth-error {
  margin-top: 10px;
  width: 400px;
}



.panel {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 900px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  border-spacing: 0 10px;
}

tr {
  margin-bottom: 10px; /* Adds vertical space between rows */
}


textarea {
  font-size: 1rem;
  width:80%;
  padding: 8px;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease-in-out;
  min-height: 200px;
}

.postForm {
  margin: 0 auto;
  
}

.margin-bottom {
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.side-link {
  color:rgb(114, 114, 114);
  margin-right: 10px;
}

.delete-btn {
  background-color: rgb(255, 153, 153);
  max-width: 150px;
  margin: 5px auto;
}

.delete-btn:hover {
  background-color: rgb(248, 112, 112);
}

.upload {
  font-size: 1rem;
  width:80%;
  padding: 8px;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease-in-out;
}